.about {
  background-color: $color-gray-light;
  padding-top: 100px;
  padding-bottom: 65px;
  letter-spacing: 0.055em;
}

.about__title {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  color: $color-primary;
  line-height: 1.2em;
  font-family: $font-header;
  margin-top: 0;
  margin-bottom: 49px;
}

.about__container {
  display: grid;
  max-width: $ul;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;

  grid-template-columns: 1fr 271px;
  grid-gap: 100px;
}

.about__content {
  font-size: 1.125rem;
  font-family: $font-main;
  line-height: 1.35;
}

.about__content p:first-of-type::after {
  right: -50px;
}

.about__content p:first-of-type {
  position: relative;
  margin-top: -5px;
}

.about__content p:first-of-type::after {
  position: absolute;
  top: 0;
  width: 2px;
  height: 200px;
  content: "";
  background-color: #707070;
}
.about__content p:last-of-type {
  margin: 0;
}

.about__image {
  display: grid;
  align-content: center;
  justify-items: center;
}
.about__image img {
  max-width: 100%;
  min-height: 480px;
}
